body {
    font-family: 'Josefin Sans';
    background-color: #000;
  }
  
  * {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  
  }
  
  ::-webkit-scrollbar {
    width: 0px;
  }
  
  .detail-image {
    width: 729px;
    height: 742px;
  }
  
  .hero-banner-img {
    position: absolute;
    right: 40px;
    top: 0px;
    width: 700px;
    height: 900px;
    margin-top: -330px;
  
  }
  
  .exercise-card {
    width: 400px;
    height: 445px;
    background: #000;
    border-top: 4px solid #FFBE0B;
    border-bottom-left-radius: 20px;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-bottom: 10px;
    transform: scale(1, 1);
    transition: 0.3s all ease-in-out;
  }

  .exercise-card:hover{
    box-shadow: -1px 17px 17px 4px rgba(194,183,183,0.78);
    border-radius: 20px;
  }

  .exercise-card img {
    height: 326px;
    border-radius: 0px 0px 20px 20px;
  }

  .exercise-card img:hover{
    border-radius: 20px;
  }

  .exercise-card:hover img{
    border-radius: 20px;
  }
  
  .bodyPart-card {
    transform: scale(1, 1);
    transition: 0.3s all ease-in-out;
  }

  .swiper-pagination-bullet{
    margin-top: 20px;
  }
  
  .exercise-card:hover,
  .bodyPart-card:hover {
    transform: scale(1.1, 1.1);
  }
  
  .search-btn:hover {
    border-radius: 10px;
    color: #FFBE0B !important;
    border: 3px solid #FFBE0B !important;
  }
  
  .exercise-video {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 387px;
    height: 381px;
    text-decoration: none;
  }
  
  @media screen and (max-width:1200px) {
    .detail-image {
      width: 300px;
      height: 300px;
    }
  
  
    .hero-banner-img {
      display: none;
    }
  
    .exercise-card {
      width: 320px;
    }
  
    .exercise-video {
      width: 320px;
      height: 300px;
    }
  
  }
  
  @media screen and (max-width:400px) {
    .exercise-card {
      width: 280px;
    }
  }

